@font-face {
  src: url(fonts/BluebirdAlishanty.ttf);
  font-family: bluebird;
}

h1 {
  color: blueviolet;
  text-align: center;
  font-family: bluebird;
  font-size: 50px;
}

@font-face {
  src: url(fonts/HopelessPlace.ttf);
  font-family: HopelessPlace;
}

h2 {
  font-family: HopelessPlace;
  color: rgb(255, 102, 0);
  text-align: center;
  font-size: 40px;
}

@font-face {
  src: url(fonts/Achafexp.ttf);
  font-family: Achafexp;
}

h3 {
  font-family: Achafexp;
  color: rgb(76, 228, 16);
  text-align: center;
  font-size: 50px;
}

img {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 48%;
  margin-top: -50px;
  margin-left: -100px;
}

body {
  background: rgb(63, 249, 255);
}