.colorbox {
    background-color: rgb(199, 193, 193);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 300px;
    margin-right: 300px;
  }
  .row1, .row3, .row4 {
      height: 90px;
      display: flex;
      margin-bottom: 20px;
    }
    .row5{height: 60px;
        display: flex;
        margin-bottom: 20px;}
  .row1 .a {
    background: rgb(189, 10, 10);
    width: 30%;
    margin-right: 20px;
  }
  .row1 .b {
    background: rgb(28, 28, 158);
    width: 70%;
  }
  .row2 {
      height: 150px;
      background:rgb(170, 126, 5);
      margin-bottom: 20px;
    }
  
    .row3 .a {
      background:rgb(12, 185, 12);
      width: 33%;
      margin-right: 20px;
    }
    .row3 .b{
      background: rgb(150, 6, 150);
      width: 34%;
      margin-right: 20px;
    }
    .row3 .c {
      width:33%;
      background:rgb(82, 27, 185);
    }
    .row4 .a {
      background:rgb(185, 67, 11);
      width: 50%;
      margin-right: 20px;
    }
    .row4 .b {
      width:50%;
      background:rgb(201, 172, 7);
    }
    .row5 .a {
      background: rgb(20, 134, 5);
      width: 25%;
      margin-right: 20px;
    }
    .row5 .b {
      background: rgb(28, 124, 233);
      width: 25%;
      margin-right: 20px;
    }
    .row5 .c {
      background:rgb(148, 38, 4);
      width: 25%;
      margin-right: 20px;
    }
    .row5 .d {
      width:25%;
      background:rgb(8, 8, 206);
    }
    .row6 {
      height: 20px;
      background:rgb(59, 17, 1);
    }